@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Poppins:wght@100;300;400;500;600&family=Rubik+Vinyl&family=Sorts+Mill+Goudy:ital@1&display=swap");

:root {
  --color-pink: #d13ea0;
  --bg-dark-color: #35424a;
  --button-bg-color: #e8491d;
}

hr {
  background-color: var(--color-pink);
  height: 1px;
  border: none;
  outline: none;
  opacity: 0.7;
}
a{
    color: #fff;

}

body{
    height: 100vh;
    position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

/* Header Part Start */
/* Header Logo */
.header , .mail {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--bg-dark-color);
  flex-wrap: wrap;
  
}
.header__logo{
    font-size: 2.5rem;


}
.header__logo a{
    font-weight: 500;
}

.header__logo span{
    color: var(--color-pink);
    font-weight: 700;
}
/* header nav */ 
.header__list{
  display: flex;
  padding: 1rem;

}
.header__list a {
  padding: 0.5rem;
  font-size: 1.4rem;
  opacity: 0.9;
}
.header__list a:hover{
  color: #d13ea0;
  opacity: 0.8;
}

/* Header Part End */

/* Mail Part Start */

.mail__title h3{
    color: #fff;
    margin-top: 5px;
    font-size: 1.4rem;
    }
    .mail__form .input{
      width: 20rem;
      padding: 0.4rem;
      border: none;
      outline: none;
      text-transform: capitalize;
      border-radius: 2px;
      }
    .mail__form .submit{
      padding: 0.4rem 1.5rem;
      background-color: #e8491d;
      border: none;
      color: #fff;
      border-radius: 2px;
    }
    
    .mail__form .submit:hover{
      cursor: pointer;
     background-color: #526d7d;
     color: #070707;
    }
    
    /* Mail Part End */

/* Services part Start */
.services{
  display: flex;
  flex-wrap: wrap;
}


.services__servis{

margin: 20px;
width: 65%;
margin-top: 65px;


}


.services__content{
  margin-top: 10px;
  background-color: #dfdbdb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 5px 5px rgb(192, 168, 168);
}
.services__content h3{
  font-size: 1.6rem;

}
.services__content p{
  padding:5px 0;
  font-size: 1.3rem;
}


.services__get{
  background-color: #35424a;
  margin: 20px ;
  color: white;
  width: 25%;
  height:250px ;
  padding: 10px 40px;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px white ,  2px 4px 5px rgb(143, 117, 117) ,  2px 4px 5px rgb(200, 68, 68) , -2px -2px 5px rgb(67, 62, 62);
}
.services__get form{
  margin-top: 10px;
  
}

.submit--services{
  padding: 0.4rem 1.5rem;
  background-color: #e8491d;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.submit--services:hover{
  cursor: pointer;
  background-color: #526d7d;
  color: #070707;
}

#mesage , #name , #email {
  width: 100%;
 outline: none;
 text-transform: capitalize;

}

/* Services part end */



/* Footer Part Start  */
.footer{
    background-color: #35424a;
    color: #fff;
    text-align: center;
    padding: 15px;
    height: 119px;
    position: absolute;
    bottom: 0;
width: 100%;

  }
  .footer img{
    margin-top: 20px;
  }
  
  
  /* Footer Part End */


  @media screen and (max-width: 900px) {
    body {
      background-color: olive;
    }
    .services__servis{

      margin: 20px;
      width: 100%;
      
    }

    .services__get {
      margin-top: 10px;
      width: 100%;
      
    }
      
    .footer{
      background-color: #35424a;
      color: #fff;
      text-align: center;
      padding: 15px;
      height: 119px;
      position: relative;
      bottom: 0;
  width: 100%;
  
    }



  }
  @media screen and (max-width: 505px) {
    .header {
      display: flex;
      justify-content:center;
      flex-direction: column;
      padding: 2rem;
      background-color: var(--bg-dark-color);
      flex-wrap: wrap;
      
    }




    .header__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    
      padding: 1rem;
    
    }
    
    .header__logo{
      font-size: 2.5rem;
      text-align: center;


  
  }
  

  }
  /* @media screen and (max-width: 505px) {

    .header__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-left: 180px;
      padding: 1rem;
    
    }
    
    .header__logo{
      font-size: 2.5rem;
  margin-left: 100px;

  
  }
  

  } */